saved_pages/
all_products.csv
__pycache__/
tempCodeRunnerFile.py
all_products.xlsx
formatted_products.xlsx
prices.pbix
prices/
stamp_photos/
copies/
lenta_test.txt
lenta_test.csv
.env
auchan_prices.xlsx
auchan_test.csv
aucha_test.csv
chrome_profile/
dixy_test.csv
